<ion-header no-border>
  <ion-navbar class="home-nav">
    
    <ion-buttons left (click)="closeChangePassword()">
      <button class="btnColor cross-icn" ion-button icon-only>
        <ion-icon class="icon icon-cross" item-right></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content padding class="story-outer">
  <div class="story-cont">
    <h1>Change password</h1>
  </div>
  <form [formGroup]="changePswdForm" (ngSubmit)="submitForm(changePswdForm.value)">
    <ion-list>

      <ion-item>
        <ion-label stacked>Old password</ion-label>
        <ion-input clearOnEdit="false" type="{{oldPass}}" name="currentPassword" [formControl]="changePswdForm.controls['currentPassword']"></ion-input>

        <button *ngIf="!showPass && !changePswdForm.controls['currentPassword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showPassword()">Show</button>
        <button *ngIf="showPass && !changePswdForm.controls['currentPassword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showPassword()">Hide</button>

      </ion-item>

      <div *ngIf="isSubmit">
        <div class="error-box" *ngIf="!changePswdForm.controls['currentPassword'].valid">* Password is required!</div>
        <!-- <div class="error-box" *ngIf="changePswdForm.controls['currentPassword'].hasError('required') && changePswdForm.controls['currentPassword'].touched">* Password is required!</div> -->
      </div>
      

      <ion-item>
        <ion-label stacked>New password</ion-label>
        <ion-input clearOnEdit="false" type="{{newPass}}" name="newPasword" [formControl]="changePswdForm.controls['newPasword']"></ion-input>

        <button *ngIf="!showPassNew && !changePswdForm.controls['newPasword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showPasswordNew()">Show</button>
        <button *ngIf="showPassNew && !changePswdForm.controls['newPasword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showPasswordNew()">Hide</button>

      </ion-item>

      <div *ngIf="isSubmit">
        <div class="error-box" *ngIf="changePswdForm.controls['newPasword'].hasError('required')">* Password is required!</div>
        <div class="error-box" *ngIf="changePswdForm.controls['newPasword'].hasError('maxlength') && changePswdForm.controls['newPasword'].touched">* Maximum password length is 25!</div>
        <div class="error-box" *ngIf="changePswdForm.controls['newPasword'].hasError('pattern') && !changePswdForm.controls['newPasword'].valid && !changePswdForm.controls['newPasword'].hasError('maxlength')">
          * Password should be of minimum 8 characters, at least one uppercase letter, one lowercase letter and one number.</div>
      </div>


      <ion-item>
        <ion-label stacked>Repeat new password</ion-label>
        <ion-input clearOnEdit="false" type="{{repass}}" name="confirmPassword" validateEqual="newPasword" [formControl]="changePswdForm.controls['confirmPassword']"></ion-input>

        <button *ngIf="!showRePass && !changePswdForm.controls['confirmPassword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showRePassword()">Show</button>
        <button *ngIf="showRePass && !changePswdForm.controls['confirmPassword'].hasError('required')" ion-button clear color="dark"
          type="button" item-right (click)="showRePassword()">Hide</button>

      </ion-item>
      <div *ngIf="isSubmit">
        <div class="error-box" *ngIf="cnfPassFalse"> Password mismatch!</div>
      </div>
      
    </ion-list>
    <button ion-button class="mr-t80 button_color" full color="dark" type="submit">CHANGE PASSWORD</button>

  </form>
</ion-content>