page-new-life-storie2 {
    // .content-md .scroll-content{margin-top:56px !important}
       .item-inner {
    background: #f9f9f9;
    
    padding: 0 20px!important;
    background-image: none!important;
    border: 0!important;
        .label{
            color: #636263; 
    font-size: 15px;
        }
    }
  
}
