page-splash {
  #splash-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: white;
    animation: fadeOutAnimation 7s;
  }


  .splash {
    height: 100%;
    width: 100%;
    /*animation: bg 4s;*/
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  

}
