page-new-life-storie3 {

    // .content-md .scroll-content{margin-top:56px !important}

    .progressbar{width: 100%;}
    .story-searchbox {
    border: none;
    background: none;
    box-shadow: none;
        padding-left: 0;
    }
    .searchbar-input{padding-left: 0!important; position: relative; box-shadow: none !important;}
      .search-input{padding-left: 0;  padding-top: 40px; }
    .searchbar-search-icon{display: none;}
    .search-icon{position: absolute;     bottom: 0;
    right: 8px;}
    .icon-location{margin-right: 0!important;}
    .search-label{    color: #1c1b1b;
    font-family: 'Conv_Gotham Light'; 
    font-size: 1.2rem;}

    .search-input ion-label {
        margin: 13px 8px 0 0;
    }
    .curr-loc{margin: 13px 8px 3px 16px;}
    .error-box {
        color: #b40000;
        font: 12px 'Conv_Gotham Light';
    }
    .icon-ic-calander{
    margin-bottom: 0 !important;
    margin-top: 26px !important;
    }
.dobCal {
    padding: 15px 15px 0px 4px !important;
}
.item-ios.item-label-stacked [item-right], .item-ios.item-label-floating [item-right], .item-ios.item-label-stacked [item-end], .item-ios.item-label-floating [item-end]{
    margin-top: 8px !important; 
}
}

