page-documents {
    ion-header ion-icon.back-button-icon.icon, 
    ion-header span.back-button-text.back-button-text-ios , .bar-button{
        color: #636263;
        margin-left: 10px !important;
    }
    .bar-button-ios{
        margin-left: 16px !important;
    }
    .cross-icn .icon-cross{
        font-size: 14px
    }
    .my-icon{
        position: absolute;
        right: -9px;
        top: 0px;
        font-size: 21px;
    }
    .health-outer{
        position: relative;
        margin-top: 52px;
    }
    .helth-title{
        font-family: 'Conv_Gotham Medium Regular';
        font-size: 18px;
        color: #111;
        display: inline-block;
        position: relative;
        padding-bottom: 8px;
        width: 90%;
        &:before{
            // background-color: #080e2f;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 40px;

        }
    }
    .dot-cont{
       .icon{
           color: #4a4a4a;
            font-size: 17px;
            right: 4px;
        }
    }
    .p_content{
        color: #1c1b1b;
        line-height: 19px;
        font-size: 12px;
        font-family: 'Conv_Gotham Light';
    }
}
