page-add-favorite-charity {
 ion-header ion-icon.back-button-icon.icon, 
    ion-header span.back-button-text.back-button-text-ios , .bar-button{
    color: #636263;
    margin-left: 10px !important;
    }
     .bar-button-ios{
        margin-left: 16px !important;
    }
     .cross-icn .icon-cross{
        font-size: 14px
    }
   
}
