page-new-life-storie5 {
    .progressbar {
        width: 100%;
    }
    .addpic {
        padding-bottom: 100%;
        background-color: #f4f4f4;
        position: relative;
        overflow: hidden;
        border-radius: 2px;
    }
    .addpic img {
        top: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    ion-header ion-icon.back-button-icon.icon,
    ion-header span.back-button-text.back-button-text-ios {
        color: #636263;
    }
    .addpic .upload-profile-pic {
        position: absolute;
        bottom: 34px;
        text-align: center;
        font: 12px 'Conv_Gotham Light';
        color: #7b7878;
        opacity: 0.6;
        width: 100%;
    }
    .story-cont p {
        padding-bottom: 20px;
    }
    .photo-m {
        margin-left: -10px;
    }
    .story-outer .story-cont .pet-follow:before {
        background-color: #5eb5e4 !important;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 50px;
    }
    .progress .pet-follow {
        float: left;
        width: 0;
        height: 70%;
        margin-top: 2px;
        text-align: center;
        background-color: #5eb5e4 !important;
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .addpic .upload-profile-pic {
            bottom: 124px;
        }
    }
    .upload_pic_wrapper{
            height: 149px;
            width: 100%;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            position: relative;
    }
}